<div style="display: flex; flex-flow: column;">
    <div style="margin-top: 1%; display: flex; align-self: end; margin-right: 5%;">
      <fa-icon [icon]="faCompressAlt"></fa-icon> 
      <div>2</div>
      <div>3</div>
    </div>
  
    <div class="container">
      <div class="card" style="margin-left: 10px;">
        <fa-icon [icon]="faHeart"></fa-icon>
        <div>CARD1</div>
        <div>CARD2</div>
        <div>CARD3</div>
      </div>
    
      <div class="card">
        <p>Contenido de la segunda card.</p>  
      </div>
    </div>
  
    <div style="display: flex; align-self: end; margin-right: 5%;">
      <fa-icon [icon]="faCompressAlt"></fa-icon> <!-- Adicione o ícone aqui -->
    </div>
  </div>
  