@import '@fortawesome/fontawesome-free/css/all.css';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  .card {
    display: flex;
    background-color: #ffffff3a;
    border-radius: 8px;
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: 70%;
    max-width: 400px; /* Ancho máximo para evitar que las cards sean demasiado anchas en pantallas grandes */
    margin: 0 10px;
  }
  
  
  
  /* Media queries para hacer los tamaños más responsivos */
  @media (max-width: 768px) {
    .card {
      width: 90%; /* Reduzca el ancho en pantallas más pequeñas */
    }
  }
  